{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Логи</h1>

    <form method="GET">
        <label for="ip_address">Фильтр по IP-адресу: </label>
        <input id="ip_address" name="ip_address" type="text" value="{{ app.request.query.get('ip_address') }}"/>
    </form>

    {% for message in app.flashes('error') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>URL</td>
                <td>Запрос</td>
                <td>Ответ</td>
                <td>Код ответа</td>
                <td>IP-address</td>
                <td>Дата</td>
            </tr>
        </thead>
        <tbody>
            {% for log in logsList %}
                <tr>
                    <td>
                        {{ log.id }}
                    </td>
                    <td>
                        {{ log.url }}
                    </td>
                    <td>
                        {% for key, value in log.request %}
                            {% if key == 'headers'%}
                                <p>Заголовки запроса</p>
                                <hr>
                                {% for headerName, headerValue in value %}
                                    <p>
                                        {{ headerName }} : {{ headerValue }}
                                    </p>
                                {% endfor %}
                                <hr>
                            {% else %}
                                <p>
                                    {{ value }}
                                </p>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for key, value in log.response %}
                            {% if key == 'headers'%}
                                <p>Заголовки ответа</p>
                                <hr>
                                {% for headerName, headerValue in value %}
                                    <p>
                                        {{ headerName }} : {{ headerValue }}
                                    </p>
                                {% endfor %}
                                <hr>
                            {% else %}
                                <p>
                                    {{ value }}
                                </p>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ log.response_http_code }}
                    </td>
                    <td>
                        {{ log.ip_address }}
                    </td>
                    <td>
                        {{ log.created_at | date('d.m.Y') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
